html body{
    background-color:#556B2F;
}
h{
  padding-top: 0%;
   color:black;
   font-display:bold;
}
h1{
    padding-top: 0%;
    color:black;
    font-display:bold;
    text-align:center;
    
}
p{
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 font-size:20px;
 font-weight:bold;
 /* background-color: blanchedalmond; */
 color: black;
 padding: 10px;
}
p1{
   color:black;
   background-color:rgb(255,160,122);
}
   nav>ul>li>a{
       padding:20px;
       margin-right:2px;
       text-transform:uppercase;
       color:black;
       text-align:right;
       display:inline-block;
       background-color:white;
   }
   .home{
       display: flex;
       float:right;
       border: 2px solid white;
       border-radius: 5px;
       clear: both;
       
       
   }
   .row,.column {
       border: 1px solid white;
       display:flex;
      
       
   }
   .row1,.column1 {
       border: 1px solid white;
       display:flex
     
   }
       
   .booking {
     clear:both;
     float:left;
     
   }
   .hotel{
     /*clear:both;*/
     float:left;
     margin-left:700px;
   }
   
   .row {
       flex-wrap: wrap;
       flex-direction:row;
       display:flex;
   }
   figure{
       justify-content: center;
       font-size: 25px;
       color: white;
       text-align: center;

   }
   h3 {
       justify-content: center;
       text-align: center;
       font-family: 'Times New Roman', Times, serif;
       font-size: 25px;
       color:black;
   }

    #contacts{
      text-align:center;
      
    }
nav{
  max-width:960px;
  margin:0 auto;
  padding:10px 0;
  margin-right:0%;
  margin-right: 2px; 
  
}
ul{
  text-align:right;
  list-style: none;
  text-align: right;

}
li{
    display: inline;
}
a{
    text-decoration: none;
}
li>a:hover{
  box-shadow:0 0 10px rgba(0,0,0,0.1),inset 0 0 1px rgba(255,255,255,0.6);
  color:rgba(0,35,122,0.7);
}
nav:hover{
  box-shadow:0,0,1px rgb(255,255,255,0.6);
}
/* .footer{
position: relative;
left:2px;
bottom:2px;
width:100%; 
background-color: aqua;
color:royalblue
} */
about{
  background-color: blanchedalmond;
  color: red;
  padding: 0em;
}
.foundation{
  color:red;
  width: 12px;  
  height:13px;
  display:flex;
  text-shadow:2px 2px 1px white;
}
p{
 color:white;
 padding:19px;

}
#table fare{
    display: flex;
    width:100%;
    margin-left:40px;
    border-collapse:collapse;
 
 color:black;
} 
tr,td{
 background-color:#f2f2f2;
 border: 2px solid;
}

th:hover{
padding-top:12px;
padding-bottom:12px;
text-align:left;
color:white;
}

input{
    position: relative;
    left:20px;}
.fare{
    width: 100%;
    padding-left: 30%;
    font-size: 28px;

}
.footer{
    /* position: relative; */
    display: flex;
    width:100%; 
    height: 100px;
    background-color:black;
    color:black;
    clear: both;
    padding-top: 10px;
    margin-top: 10px;
    position:static;
    }
    
   .hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.fa {
  color: blue;
  font-size:30px;
  line-height: 2rem;
  
}
.core>ol>li{
  float:left;
}
.icons{
  text-align:center;
  size:125;

}
.languages{
  text-align:right;
}
.guiding{
  float:right;
}
.mapouter{position:relative;text-align:right;height:500px;width:1366px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:1366px;}

#one {
  float: left;
  
}

 #two {
   float: right;
 }
